{% extends 'base.html' %}

{% block content %}

<!--{% if messages %}-->
<!--<ul class="messages">-->
    <!--{% for message in messages %}-->
    <!--<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
    <!--{% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->

    {% if messages %}
    {% for mess in messages %}
        <p style="color: red">{{ mess }}</p>
    {% endfor %}
    {% endif %}

<h1>feedback page</h1>

<form action="" method="post">
    {% csrf_token %}
    <!--<textarea name="text" rows="4" cols="40"></textarea>-->
    {{ forms_list.as_p }}
    <!--Сюда передалась наша форма из view.py через Рендер. .as_p помещает каждую форму в <p> -->
    <button type="submit">Отправить</button>
</form>

{% endblock content %}