{% extends 'base.html' %}

{% block content %}

<!-- немножечко повыпендриваюсь стилями :) -->
<style>
     body {
     color: #333333;
     }
     span {
     border-bottom: 1px solid #666666;
     margin-right: 10px;
     }
</style>

<hr>

<h5>{{ post_full.category }}</h5>
<h1>{{ post_full.title }}</h1>
<h2>{{ post_full.sub_title }}</h2>
<p>{{ post_full.text }}</p>
<p>Кол-во просмотров: {{ post_full.view }}</p>

 Теги:
{% for tag in post_full.tags.all %} <!-- "all" здесь из-за Many to Many -->
<span>{{ tag.name }}</span>
{% endfor %}

<p>Дата: {{ post_full.publish_date|date:'d M Y' }}</p>

<hr>
<h2>Комментарии</h2>
{% for comment in comments_topic %}

<p>{{comment.author}}</p>
<p>{{comment.text}}</p>
<p>{{comment.created}}</p>
<br>
{% endfor %}

<hr>

{% endblock content %}
