{% extends 'base.html' %}

{% load blog_tags %}  <!-- Загружается файл темлпейт тегов block_tags. Используется ниже для паддингов комментов -->

{% block posts %}
    {% if messages %}
    {% for message in messages %}
        <p style="color: red">{{ message }}</p>
    {% endfor %}
    {% endif %}

    <hr>

    <h5>{{ post_full.category }}</h5>
    <h1>{{ post_full.title }}</h1>
    <h2>{{ post_full.sub_title }}</h2>
    <p>{{ post_full.text }}</p>
    <p>Кол-во просмотров: {{ post_full.view }}</p>

     Теги:
    {% for tag in post_full.tags.all %} <!-- "all" здесь из-за Many to Many -->
    <span>{{ tag.name }}</span>
    {% endfor %}

    <p>Дата: {{ post_full.publish_date|date:'d M Y' }}</p>

    {% if user.is_authenticated %}
    <!--Если вошел - показать форму, иначе отобразить сообщение-->

        <form action="" method="post">
            {% csrf_token %}
            <!--<textarea name="text" rows="4" cols="40"></textarea>-->
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>

    {% else %}

    <h5>Чтобы оставить комментарий - войдите на сайт или зарегистрируйтесь</h5>

    {% endif %}

    <hr>
    <h3>Комментарии</h3>
    {% for comment in comments_topic %}
        {% if forloop.counter|comment_padding %}  <!-- Задает встроенный фильтр forloop со значением, которое мы
        принимаем из blog_tags -->
            <p style="padding-left: 20px;">
        {% else %}
            <p>
        {% endif %}

    <b>{{ comment.user }}</b><br>
    {{ comment.text }}<br>
    {{ comment.created }}<br>
            </p>
    <br>
    {% endfor %}
    <hr>

{% endblock posts %}
