<!doctype html>
{% load static from staticfiles %}  <!-- Папка static подгружается автоматически. Эта возможность из джанго -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <!-- Дает нам возможность указывать наш css файл через относительный путь. Пока он не работает -->
    <title>Document</title>
</head>
<body>

{% block content %}  <!-- Сюда отправляется весь контент наших страниц. Обязательный элемент, с ним работает allauth-->

<div class="main-blog"> <!-- Стили для верстки подключаются сюда -->


    <div class="sidebar">
        {% block sidebar %}
            {% include 'include/sidebar/full_sidebar.html' %}
            {% include 'include/footer_header/footer.html' %}  <!-- Подтягивается футер -->
        {% endblock sidebar %}
    </div>

    <div class="content">  <!-- Сюда экстендится код -->
        {% block posts %}
        {% endblock posts %}
    </div>
</div>
{% endblock content %}
</body>
</html>